@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

* {
	margin: auto;
  padding:0;
	box-sizing: border-box;
}

body {
  background: linear-gradient(127.9deg, #1D4DF6 -55.09%, #7BF99E 127.82%);
  width: 100vw;
  height: 100vh;
}

/* Ogólne style dla nagłówka */
.naglowek {
  display: flex; /* ustawienie w jednej linii */
  padding: 12px; /* odstęp od krawędzi */
  background-color: transparent;
}

/* wygląd lewej strony nagłówka (napis i logo) */
.lewa {
  display: flex;
  width: 20vw;
  height: 100%;
}

/* Style dla tekstu nagłówka */
.naglowek h3 {
  margin-left: 24px;
  font-size: 1em; /* rozmiar czcionki */
  font-family: 'Poppins';
  letter-spacing: 1px;
  font-weight: bold; /* grubość czcionki */
  text-transform: uppercase;
  color: white;
  margin-right: 0;
}

/* Style dla obrazka w nagłówku */
.naglowek img {
  height: 70px; /* wysokość */
  width: auto;
  margin-left: 30px;
}

/* wygląd prawej strony nagłówka (menu główne) */
.prawa {
  display: flex;
  width: 80vw;
  height: 100%;
}



/* wygląd głównego elementu - ol */
ol {
  align-items: center;
  list-style-type:none;
  font-size:1.5em;
  font-family: 'Poppins';
  /* background-color: #408DD6; */
}

/* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
ol a {
  display:flex;
  text-decoration:none;
  text-align: center;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  color:rgb(255, 255, 255);
}

/* wygląd prostokąta nad obecnie otwartą stroną */
ol a canvas {
  position:absolute;
  top:0;
  margin-left: -10px;
  vertical-align: top;
  width:140px;
  height: 6px;
  background-color: white;
}

/* wygląd trójkąta */
ol a span {
  font-size: 70%;
  margin-left: 1vw;
}

/* wygląd elementów - li - wszystkich dzieci elementu - ol */
ol > li {
  float:left;
  background-color: transparent;
}

/* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover > a {
  color:#ffffff;
}

/* wygląd trójkąta po najechaniu na cały blok a */
ol > li:hover > a span {
  color:#3c7dff;
}

/* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover > ul {
  display:block;
}

/* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

/* wygląd głównych rozwijanych elementów - ul */
ol > li > ul {
  position: fixed;
  display:none;
  list-style-type:none;
  padding:0;
  margin:0;
  z-index: 10;
}

/* wygląd elementu - li - w części rozwijanej */
ol > li > ul > li {
  display: block;
  padding: 16px;
  min-width: 180px;
  background-color:rgba(255, 255, 255, 0.978);
/* 
  margin-bottom: 2vh;
  border-radius: 50px;
  border: 2px solid rgb(40, 90, 253); */
}

/* wygląd elementu - a - w części rozwijanej */
ol > li > ul > li > a {
  /* border-top:1px solid rgb(0, 0, 0); */
  color: #408DD6;
}

/* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
ol > li > ul > li:hover {
  background-color:#408DD6;
}

/* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
ol > li > ul > li:hover > a {
  color:white;
}

/* ------------------------TERMINARZ------------------------ */

.terminarz {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding-top: 1vh;
  background-color: transparent;
  mix-blend-mode: luminosity;
  }

h1 {
  font-family: 'Poppins';
  color: #ffffff;
  font-size: 3.2em;
  filter: drop-shadow(3px 4px rgba(0, 0, 0, 0.25));
  letter-spacing: 1px;
}

#timetable-container {
  position: relative;
  width: 60%;
  height: 70vh;
  filter: drop-shadow(10px 10px rgba(0, 0, 0, 0.25));
  background-color: #ffffff;
  border-radius: 40px;
  mix-blend-mode: luminosity;
}

#timetable-day {
  width: 100%;
  padding-top: 10px;
  background-color: transparent;
  text-align: center;
  font-size:42px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

#timetable-bottom {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  text-align: center;
  font-size: 30px;
}

#timetable-content-container {
  position: relative;
  min-height: 100px;
  max-height: 380px;
  height: 380px;
  width: 88%;
  background: rgba(0, 0, 0, 0.11);
  border-radius: 40px;
  overflow-y: scroll;
}

#btn-add {
  width: 88%;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 60px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

#btn-add:hover {
  background: rgba(0, 0, 0, 0.3);
}

#timetable-content {
  margin: 5%;
  padding: 2%;
}

#delete-event {
  max-width: 25px;
  max-height: 25px;
}

#add-event-modal {
  display: none;
}

#edit-event-modal {
  display: none;
}

#edit-event-btn {
  padding: 0;
  max-width: 25px;
  max-height: 25px;
  justify-content: center;
}

#edit-event-btn img {
  max-width: 21px;
  max-height: 21px;
}


/* stylizacja tabeli i komórek */
table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 92%;
  margin: 4%;
  border-radius: 40px;

}

td {
  border: none;
  text-align: center;
  padding: 8px;
}

th {
  text-align: center;
  padding: 8px;
}

#calendar-month-container {
  margin-top: 11vh;
  float:right;
  width: 50%;
  margin-right: 6vw;
  background: #FFFFFF;
  mix-blend-mode: luminosity;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

#calendar-container {
  float:right;
  width: 50%;
  height: auto;
  min-height: 420px;
  margin-right: 6vw;
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  font-size: 30px;
  box-shadow: 10px 10px  rgba(0, 0, 0, 0.25); 
}

#months {
  margin-bottom: -5vh;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  padding-top: 2vh;
  color: rgba(0, 0, 0, 0.6);
}

#btn-month-prev {
  float: left;
  margin-left: 2vw;

  text-align: center;
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  border: none;
  color:#ffffff;
  font-weight: bolder;
}

#btn-month-prev:hover {
  background: rgba(0, 0, 0, 0.3);
}

#btn-month-next:hover {
  background: rgba(0, 0, 0, 0.3);
}

button:active {
  position:relative;
  top:2px;
}

#btn-month-next {
  float: right;
  margin-right: 2vw;

  text-align: center;
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  border: none;
  color:#ffffff;
  font-weight: bolder;
}

.sunday {
  color:rgb(0, 0, 0);
  /* background-color: rgba(0, 187, 255, 0.174); */
}

.saturday
{
  color:rgb(0, 0, 0);
  /* background-color: rgba(255, 255, 255, 0.3); */
}

.today {
  color:#ffffff;
  background-color: rgba(0, 153, 255, 0.391);
  border-radius: 60px;
}

#linia {
  margin-top: 4vh;
  width: 96%;
  margin-left: 2%;
}

/* stylizacja okna modalnego */
.add-event-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  margin-left: 120px;
  padding: 20px;
  width: 24%;
  float: left;
}

.edit-event-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.edit-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  margin-left: 120px;
  padding: 20px;
  width: 24%;
  float: left;
}

.add-event-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border-radius: 20px;
}

.add-event-modal-close:hover,
.add-event-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.edit-event-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.edit-event-modal-close:hover,
.edit-event-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}