/* stylizacja tabeli i komórek */
table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
  }
  td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #dddddd;
  }
  /* stylizacja okna modalnego */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
 
  .sunday {
    background-color: rgba(255, 125, 125, 0.75);
  }

  .saturday
  {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .today {
    background-color: rgba(0, 255, 0, 0.75);
  }
  #calendar-month-container {
    display: inline-block;
    float: right;
    width: 60%;
  }

  #months {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
  }

  #btn-month-prev {
    float: left;
  }

  #btn-month-next {
    float: right;
  }

  #calendar-container {
    display: inline-block;
    float: right;
    width: 60%;
    border: 1px solid #000;
    border-radius: 15px;
  }

  #timetable-container {
    display: inline-block;
    float: left;
    width: 30%;
    border: 1px solid #000;
    border-radius: 15px;
    margin-right: 20px;
  }

  #timetable-head {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 180, 255);
    text-align: center;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #timetable-day {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 180, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #timetable-bottom {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  #timetable-content-container {
    min-height: 100px;
    background-color: rgb(0, 230, 255);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
  }

  #timetable-content {
    margin: 5%;
    padding: 2%;
    border-bottom: 3px dashed black;
  }

  #delete-event {
    width: 25px;
    height: 25px;
  }

  #edit-event {
    width: 25px;
    height: 25px;
  }