@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(154.28deg, #1D4DF7 -47.18%, #7BF99E 140.18%);
	font-family: 'Poppins', sans-serif;
    width: 100vw;
	height: 100vh;
	margin:auto;
}

.logo {
	display: flex;
	justify-content: center;
	float:left;
    width: 50vw;
    height: 100vh;
}

.form-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
    background-color: #ffffff;
    float:left;
    width: 50vw;
	height: 100vh;
}

img {
    width: auto;
    height: 100vh;
}

h1 {
    color: #292929;
    font-size: 2.6vw;
    font-weight: bold;
	text-align: center;
}

p {
	color: rgb(185, 0, 0);
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	
}

a {
	color: rgb(79, 149, 255);
	font-size: 0.8vw;
	text-align: left;
	margin-left: 1vw;
	text-decoration: none;
	margin-bottom: 3vh;
	margin-top: auto;
}

input[type=submit] {
	background: linear-gradient(235.96deg, #1D4DF7 -348.67%, #7BF99E 383.95%);
    border-radius: 50px;
	color: #FFFFFF;
    width: 14vw;
    height: 13vh;
	min-width: 160px;
	min-height: 50px;
	font-size: 1.7vw;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0;
    text-align: center;
    margin: auto;
	filter: drop-shadow(6px 4px 20px rgba(0, 0, 0, 0.2));
}

input[type=submit]:active {
	transform: scale(0.95);
}

input[type=submit]:focus {
	outline: none;
}

input[type=submit].ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
    position: fixed;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 1vw;
    width: 25vw;
	height: 45vh;
    margin-left: 13.5vw;
    margin-bottom: 8vh;
	text-align: center;
}

input::placeholder{
    font-size: 120%;
}

input {
	font-family: 'Poppins';
	font-size: 1vw;
	text-align: left;
    vertical-align: center;

	background-color: #eee;
    border-radius: 30px;
	border: none;
	padding: 20px 24px;
	margin: 4px 0;
	width: 100%;

	min-width: 160px;
	min-height: 50px;
}