@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

* {
	margin: auto;
  padding:0;
	box-sizing: border-box;
}

body {
  background: linear-gradient(127.9deg, #1D4DF6 -55.09%, #7BF99E 127.82%);
  width: 100%;
  height: 116vh;
}

/* Ogólne style dla nagłówka */
.naglowek {
  display: flex; /* ustawienie w jednej linii */
  padding: 12px; /* odstęp od krawędzi */
  background-color: transparent;
}

/* wygląd lewej strony nagłówka (napis i logo) */
.lewa {
  display: flex;
  width: 20vw;
  height: 100%;
}

/* Style dla tekstu nagłówka */
.naglowek h3 {
  margin-left: 24px;
  font-size: 1em; /* rozmiar czcionki */
  font-family: 'Poppins';
  letter-spacing: 1px;
  font-weight: bold; /* grubość czcionki */
  text-transform: uppercase;
  color: white;
  margin-right: 0;
}

/* Style dla obrazka w nagłówku */
.naglowek img {
  height: 70px; /* wysokość */
  width: auto;
  margin-left: 30px;
}

/* wygląd prawej strony nagłówka (menu główne) */
.prawa {
  display: flex;
  width: 80vw;
  height: 100%;
}



/* wygląd głównego elementu - ol */
ol {
  align-items: center;
  list-style-type:none;
  font-size:1.5em;
  font-family: 'Poppins';
  /* background-color: #408DD6; */
}

/* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
ol a {
  display:flex;
  text-decoration:none;
  text-align: center;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  color:rgb(255, 255, 255);
}

/* wygląd prostokąta nad obecnie otwartą stroną */
canvas {
  position: absolute;
  top: 0;
  left: 340px;
  margin-left: 0px;
  vertical-align: top;
  width:170px;
  height: 6px;
  background-color: white;
}

/* wygląd trójkąta */
ol a span {
  font-size: 70%;
  margin-left: 1vw;
}

/* wygląd elementów - li - wszystkich dzieci elementu - ol */
ol > li {
  float:left;
  background-color: transparent;
}

/* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover > a {
  color:#ffffff;
}

/* wygląd trójkąta po najechaniu na cały blok a */
ol > li:hover > a span {
  color:#3c7dff;
}

/* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover > ul {
  display:block;
}

/* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

/* wygląd głównych rozwijanych elementów - ul */
ol > li > ul {
  position: fixed;
  display:none;
  list-style-type:none;
  padding:0;
  margin:0;
  z-index: 2;
}

/* wygląd elementu - li - w części rozwijanej */
ol > li > ul > li {
  display: block;
  padding: 16px;
  min-width: 180px;
  background-color:rgba(255, 255, 255, 0.978);
/* 
  margin-bottom: 2vh;
  border-radius: 50px;
  border: 2px solid rgb(40, 90, 253); */
}

/* wygląd elementu - a - w części rozwijanej */
ol > li > ul > li > a {
  /* border-top:1px solid rgb(0, 0, 0); */
  color: #408DD6;
}

/* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
ol > li > ul > li:hover {
  background-color:#408DD6;
}

/* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
ol > li > ul > li:hover > a {
  color:white;
}

/* ------------------------STRONA GŁÓWNA------------------------ */
.nawigacja {
    position: relative;
  }
  
  .nawigacja a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .nawigacja a:first-child {
    position: absolute;
    left: 30px;
    background-color: #3770eb;
  }
  
  .nawigacja a:last-child {
    position: absolute;
    right: 30px;
    background-color: #ccc;
    pointer-events: none;
  }
  
  .nawigacja a:first-child:hover {
    background-color: #2d4373;
  }
  
  .zawartosc {
    background-color: rgba(255, 255, 255, 0.703);
    margin: 32px;
    border-radius: 40px;
  }

  h1 {
    font-size: 24px;
    font-family: Poppins;
    color:#2c2c2c;
    margin-top: 10vh;
    margin-bottom: 20px;
    padding-top: 12px;
    text-align: center;
  }
  #event-form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .form-column {
    flex: 1;
    padding: 32px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #aeaeae;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
   
  button[type="button"] {
    background-color: #0085d7; /* light green color */
    color: #fff; /* white text color */
    padding: 15px 25px; /* increase padding for bigger button */
    border-radius: 50px; /* make the button more round */
    font-size: 1.6rem; /* increase font size */
    cursor: pointer;
    border: none; /* remove border */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* add shadow */
    margin-bottom: 24px;
  }
  
  
  button[type="button"]:hover {
    background-color: rgb(25, 0, 186);
  }
  
  