@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

* {
	margin: auto;
  padding:0;
	box-sizing: border-box;
}

body {
  background: linear-gradient(127.9deg, #1D4DF6 -55.09%, #7BF99E 127.82%);
  width: 100vw;
  height: 100vh;
}

/* Ogólne style dla nagłówka */
.naglowek {
  display: flex; /* ustawienie w jednej linii */
  padding: 12px; /* odstęp od krawędzi */
  background-color: transparent;
}

/* wygląd lewej strony nagłówka (napis i logo) */
.lewa {
  display: block;
  width: 20vw;
  height: 100%;
}

/* Style dla tekstu nagłówka */
.naglowek h3 {
  margin-left: 24px;
  font-size: 1em; /* rozmiar czcionki */
  font-family: 'Poppins';
  letter-spacing: 1px;
  font-weight: bold; /* grubość czcionki */
  text-transform: uppercase;
  color: white;
  margin-right: 0;
}

/* Style dla obrazka w nagłówku */
.naglowek img {
  height: 70px; /* wysokość */
  width: auto;
  margin-left: 30px;
}

/* wygląd prawej strony nagłówka (menu główne) */
.prawa {
  display: flex;
  width: 80vw;
  height: 100%;
}



/* wygląd głównego elementu - ol */
ol {
  align-items: center;
  list-style-type:none;
  font-size:1.3em;
  font-family: 'Poppins';
  /* background-color: #408DD6; */
}

/* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
ol a {
  display:flex;
  text-decoration:none;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1.1vh;
  color:rgb(255, 255, 255);
}

/* wygląd prostokąta nad obecnie otwartą stroną */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0px;
  vertical-align: top;
  width:260px;
  height: 6px;
  background-color: white;
}

/* wygląd trójkąta */
ol a span {
  font-size: 70%;
  margin-left: 1vw;
}

/* wygląd elementów - li - wszystkich dzieci elementu - ol */
ol > li {
  float:left;
  background-color: transparent;
}

/* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover > a {
  color:#ffffff;
}

/* wygląd trójkąta po najechaniu na cały blok a */
ol > li:hover > a span {
  color:#3c7dff;
}

/* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover > ul {
  display:block;
}

/* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

/* wygląd głównych rozwijanych elementów - ul */
ol > li > ul {
  position: fixed;
  display:none;
  list-style-type:none;
  padding:0;
  margin:0;
  z-index: 2;
}

/* wygląd elementu - li - w części rozwijanej */
ol > li > ul > li {
  display: block;
  padding: 16px;
  min-width: 180px;
  background-color:rgba(255, 255, 255, 0.978);
/* 
  margin-bottom: 2vh;
  border-radius: 50px;
  border: 2px solid rgb(40, 90, 253); */
}

/* wygląd elementu - a - w części rozwijanej */
ol > li > ul > li > a {
  /* border-top:1px solid rgb(0, 0, 0); */
  color: #408DD6;
}

/* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
ol > li > ul > li:hover {
  background-color:#408DD6;
}

/* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
ol > li > ul > li:hover > a {
  color:white;
}

/* ------------------------STRONA GŁÓWNA------------------------ */

  .zawartosc {
  /* position: fixed;
  display: flex; */
  width: 100%;
  height:auto;
  background-color: transparent;
  }

  .powitanie {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 18vh;
    padding:32px;
  }
  

  h1 {
    margin:16px;
    font-family: 'Poppins';
    color: #ffffff;
    font-size: 3.2em;
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.25));
    letter-spacing: 1px;
  }

  .lewazawartosc {
    float: left;
    width: 50%;
    background-color: transparent;
    text-align: center;
  }
  
  .prawazawartosc {
    float:left;
    width: 50%;
    background-color: transparent;
    text-align: center;
  }
  
  p {
    font-size: 32px;
    font-family: 'Poppins';
    line-height: 1.5;
    margin-bottom: 10px;
  }